 @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

 :root {
  --ifm-color-primary: #038702;
  --ifm-color-primary-dark: #179e4c;
  --ifm-color-primary-darker: #159547;
  --ifm-color-primary-darkest: #117b3b;
  --ifm-color-primary-light: #1cc15c;
  --ifm-color-primary-lighter: #1dc961;
  --ifm-color-primary-lightest: #24e06e;
}

 body{
  overflow-x: hidden;
}

.paddingBox{
  padding: 25px;
  padding-top: 0;
}

.docs-wrapper{
  display: flex;
  padding-top: 120px;
}

.docSidebarContainer_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocPage- {
  margin-top: 10px !important;
}

.docSidebarContainer_3Kbt {
  margin-top: 10px !important;
}

.sidebar_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocSidebar- {
  top: 100px !important;
  padding-top: 0 !important;
}

.sidebar_15mo {
  top: 100px !important;
  padding-top: 0 !important;
}

.tableOfContents_node_modules-\@docusaurus-theme-classic-lib-next-theme-TOC- {
  top: 100px !important;
}

.tableOfContents_35-E {
  top: 100px !important;
}

.DocSearch-Modal{
  margin-top: 160px !important;
}

footer.row{
  margin-top: 60px !important;
  margin-bottom: 10px !important;
}

div.margin-vert--lg{
  margin-top: 8rem !important;
}

a{
  color: #1cc15c;
}

h1{
  font-size: 3rem;
}

.buttonPrimary{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 21px;
  width: auto;
  padding: 16px;
  background-color: #038702;
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  border-radius: 4px;
  transition: all .5s ease;
}

.buttonPrimary:hover{
  opacity:0.8;
}

.buttonPrimary:disabled,
.buttonPrimary[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.buttonSecondary{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 21px;
  width: auto;
  padding: 16px;
  background-color: transparent;
  border-radius: 0;
  border: solid 2px #038702;
  color: #038702;
  cursor: pointer;
  border-radius: 4px;
  transition: all .5s ease;
}

.boxFlexEnd{
  display: flex;
  justify-content:end;
}

.buttonSecondary:hover{
  color: white;
  background-color: #038702;
}

/*doc*/

.docMarkdown a{
  text-decoration: underline;
}

.doc-wrapper a {
  font-family: sans-serif;
  font-weight: normal;
  color: #1cc15c;
}

/*Navbar*/
.navBar {
  z-index: 1000;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255);
}

.navBarScroll{
  background-color: rgba(255, 255, 255, 0.95);
}

.menuWrapper{
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  font-weight: bold;
  top: 0;
  transition: 0.2s;
  height: 120px;
  margin: 0 auto;
}

.boxLeft {
  width: 100%;
  position: relative;
  display: flex;
}

.imgLogoBox{
  position: absolute;
  left: 0;
  top: -17px;
  width: 220px;
}

.imgLogoBoxMobile{
  visibility: visible;
  position: absolute;
  left: 25px;
  top: 27px;
  width: 250px;
}

.imgLogo{
  -webkit-transform-origin: top left;
  -webkit-transition: all 0.26s;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.imgLogoScroll{
  -webkit-transform-origin: top left;
  -webkit-transition: all 0.26s;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  transform:scale(0.7, 0.7);
}

.boxRight{
  width: 70%;
}

.boxLanguages{
  z-index: 300;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 11px;
  font-weight: 500;
}

.boxLanguagesSelector{
  z-index: 500;
  position: absolute;
  right: 40px;
  top: -7px;
  display: flex;
  border-radius: 5px;
  transition:visibility 0.1s linear, opacity 0.1s linear;
}

.langItemBox{
  padding: 5px;
}

.langItem{
  font-family: sans-serif;
  cursor: pointer;
}

.langItem:hover{
  font-weight: bold;
}

.langItemActive{
  font-family: sans-serif;
  padding-bottom: 3px;
  border-bottom: solid 4px #038702;
  font-weight: bold;
  cursor: pointer;
}

.boxMenuItems{
  position: absolute;
  right: 0;
  top: 0;
  height: 120px;
  display: flex;
  justify-content: flex-end;
}

.menuItem{
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  height: 120px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menuItem:hover .dropDownMenu{
  visibility: visible;
  display: block;
}

.menuItem:hover .dropDownMenu::after{
  top: 0;
  right: auto;
  height: 100%;
  width: 210px;
}

.menuItem:hover .dropDownMenuActive{
  visibility: visible;
  display: block;
}

.menuItem:hover .dropDownMenuActive::after{
  top: 0;
  right: auto;
  height: 100%;
  width: 210px;
}

.menuItem:hover .menuItemDrop{
  transition-delay:  0.3s;
  opacity: 1;
}

.navBarItemTab:focus-within .dropDownMenu{
  visibility: visible;
  display: block;
}

.navBarItemTab:focus-within .dropDownMenu::after{
  top: 0;
  right: auto;
  height: 100%;
  width: 210px;
}

.navBarItemTab:focus-within .dropDownMenuActive{
  visibility: visible;
  display: block;
}

.navBarItemTab:focus-within .dropDownMenuActive::after{
  top: 0;
  right: auto;
  height: 100%;
  width: 210px;
}

.navBarItemTab:focus-within .dropDownMenu .menuItemDrop{
  transition-delay:  0.3s;
  opacity: 1;
}

.navBarItemTab:focus-within .link:after{
  left:  0;
  width: 100%;
}

#boxMenuItems:focus-within .linkActive::after{
  left:  0;
  width: 0%;
}

#boxMenuItems:focus-within .navBarItemTab:focus-within .linkActive::after{
  left:  0;
  width: 100%;
}

.dropDownMenu{
  position: absolute;
  display: block;
  visibility: hidden;
  top: 70px;
}

.dropDownMenu:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  height: 5px;
  width: 0%;
  top: 0;
  background:#038702;
  transition-property: width height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  font-weight: bold;
}

.dropDownMenuActive{
  position: absolute;
  display: block;
  visibility: hidden;
  top: 70px;
}

.dropDownMenuActive:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  height: 5px;
  width: 100%;
  top: 0;
  background:#038702;
  transition-property: width height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  font-weight: bold;
}

.menuItemDrop{
  width: auto;
  color: white;
  white-space: nowrap;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;
}

.menuItemDrop:hover{
  color: #CFD8DC;
}

.menuItemDropActive{
  color: #CFD8DC;
}

.link {
  font-family: sans-serif;
  color: black;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  white-space: nowrap
}

.link:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  height: 5px;
  width: 0;
  bottom: 45px;
  background:#038702;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  font-weight: bold;
}

.menuItem:hover .link:after {
  left:  0;
  width: 100%;
}

.linkActive:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  height: 5px;
  width: 100%;
  bottom: 45px;
  background:#038702;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

#boxMenuItems:hover .linkActive::after{
  left:  0;
  width: 0%;
}

#boxMenuItems:hover .menuItem:hover .linkActive::after{
  left:  0;
  width: 100%;
}

.btnDrawer{
  position: absolute;
  top: 13px;
  right: 10px;
  color: #038702;
}

.drawerContent{
  width: 65vw;
}

.linkGruopBox{
  margin-top: 15px;
}

.linkGruopLabel{
  margin: 0;
  padding: 0;
  font-size: 11px;
  margin-left: 20px;
  opacity: .6;
  color: black;
  font-weight: bold;
  text-transform: uppercase
}

/*Footer*/

.footer{
  width: "100%";
  display: flex;
  justify-content: center;
  background-color: #026C01;
  opacity: 0.8;
  overflow-x: hidden;
}

.footerContent{
  width: 1300px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.h3Footer{
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.06px;
}

.hs-richtext{
  line-height: 24px;
  font-size: 14px;
  color: #ffffff;
}

.linkFooter{
  font-family: sans-serif;
  color: white;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 16px;
  letter-spacing: -0.05px;
  line-height: 25px;
  text-align: justify;
}

.linkFooter:hover{
  color: #038702;
  text-decoration: none;
}

/*Home*/

.mainContainer{
  overflow-x: hidden;
}

.containerSec{
  margin: 0 auto;
  display: flex;
  width: 1300px;
  justify-content: center;
  padding: 0;
  background-color: #ffffff;
}

.generalContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
}

.content{
  width: 960px;
  display: flex;
}

.titleBox{
  margin-bottom: 3rem;
}

.h3Box{
  margin-bottom: 2rem;
}

.specialH3Box{
  margin-bottom: 1rem;
}

.buttonBox{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.buttonBoxMobile{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sectionHero{
  width: 1300px;
  height: 670px;
  padding-top: 180px;
}

.sectionLittleHero{
  width: 1300px;
  height: 350px;
  padding-top: 180px;
}

.sectionHeroMobile{
  position: relative;
  padding-top: 120px;
  padding-bottom: 0;
  width: 100%;
}

.section{
  padding-bottom: 140px;
  width: 1300px;
}

.sectionPaddingTop{
  padding-top: 140px;
  padding-bottom: 50px;
  width: 1300px;
}

.sectionPadding{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1300px;
}

.accordion{
  width: 100%;
  background-color: #f1f1f1;
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.MuiAccordion-root + .MuiAccordion-root::before{
  margin: 0;
  padding: 0;
  opacity: 0;
}

.MuiAccordion-root + .MuiAccordion-root{
  margin: 0;
  padding: 0;
  border-top: solid 1px #E0E0E0;
}

.imgBoxLogos{
  display: flex;
  align-items: center;
  justify-content:center;
}

.oneGroupLogo{
  transition: all .4s ease-in-out
}

.oneGroupLogo:hover{
  transform: scale(1.2);
}

.spacingBox{
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/*services*/

.centerBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Contact */
.contactFormBox{
  margin-bottom: 3rem;
}

.paddingTop{
  padding-top: 100px
}

.imgBoxTheCompany{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.teamSizeImage{
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.centerText{
  text-align: center;
}

.noMarginsTop{
  margin-right: 20px;
}

.socialMediaAnimation{
  transition: all .4s ease-in-out
}

.socialMediaAnimation:hover{
  transform: scale(1.1);
}

.footerLogo {
  width: 100%;
}

.media {
  object-fit: cover;
  object-position: bottom;
  height: 180px
}

.marginIconsFooter{
  margin-left: 9px;
  margin-right: 9px;
}

.marginLeft{
  margin-left: 25px;
}

.bannerStyle{
  margin-top:'25px'
}

.socialMediaIcons{
  width: 100%
}

@media only screen and (max-width: 1279px) {
  .menuWrapper{
    width: 960px;
  }

  .footerContent{
    width: 960px;
  }

  .containerSec{
    width: 960px;
  }

  .sectionHero{
    width: 960px;
  }

  .section{
    width: 960px;
  }

  .sectionPaddingTop{
    width: 960px;
  }

  .sectionPadding{
    width: 960px;
  }

  .paddingLeft{
    padding-left: 0;
  }

}

@media only screen and (max-width: 960px) {
  .footerLogo {
    width: 50%;
  }

  .socialMediaIcons{
    width: 20%
  }

  .bannerStyle{
    margin-bottom: 0;
    text-align: center
  }

  .specialH3Box{
    margin-top: 1rem;
  }

  .h3Footer{
    text-align: center;
    font-size: 18px;
  }

  .linkFooter{
    text-align: center;
    font-size: 14px;
  }

  .buttonBox{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .containerSec{
    width: 100%;
  }

  .section{
    width: 100%;
  }

  .sectionPaddingTop{
    width: 100%;
  }
  
  .sectionPadding{
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
  }

  .accordionBox{
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  .imgBoxLogos{
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .oneGroupLogo{
    transform: scale(1.1);
  }

  .contactFormBox{
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  /*doc*/

  .boxFlexEnd{
    display: flex;
    justify-content: center;
  }

  .marginIconsFooter{
    margin: 18px;
  }

  .paddingLeft{
    padding-left: 95px;
  }

  .marginLeft{
    margin-left: 0;
  }
}

@media only screen and (max-width: 769px) and (min-width: 540px) {
  .paddingLeft{
    padding-left: 40%;
  }
}

@media only screen and (max-width: 280px) {
  .paddingLeft{
    padding-left: 100%;
  }
  
  .marginLeft{
    margin-left: -15px;
  }
}